general.log
db.sqlite3
media/
./AUTH_API_DOCUMENTATION.md
./AUTH_API_DOCUMENTATION.txt
documentation/
.claude
core/__pycache__
customer/__pycache__
professional/__pycache__
service/__pycache__
serviceBridge/__pycache__
serviceBridge/settings.py